.App {
  text-align: center;
}

.app-con {
  width: 100vw;
  height: 97.5vh;
  text-align: center;
  background-image: url("../src/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
  border-bottom: 20px solid;
  border-color: #49b05e;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.container {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.left-side-con {
  width: 50%;
  height: 100%;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-side-inner {
  width: 93%;
  height: 83%;
  background-color: #49b05e;
  padding: 10px;
  margin: 0;
  border-radius: 20px;
}

.right-side-con {
  width: 50%;
  height: 100%;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-side-inner {
  /* margin-left: 5%; */
  width: 93%;
  height: 83%;
  background-color: #49b05e;
  padding: 10px;
  border-radius: 20px;
}

input {
  width: 94%;
  align-self: center;
  height: 5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  border: #49b05e solid 5px;
  border-radius: 10px;
}

select {
  width: 94%;
  align-self: center;
  height: 8%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  border: #49b05e solid 5px;
  border-radius: 10px;
}

h1 {
  color: white;
  font-size: 33pt;
  font-weight: bold;
}

text {
  width: 100%;
  display: block;
  /* background-color: black; */
  text-align: left;
  color: white;
}
